.DS_Store
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.venv/
venv/
Brainspan/
GenomicSEM/data/
GenomicSEM/results/
GenomicSEM/*.log
GenomicSEM/*_munge.log
GenomicSEM/*_ldsc.log
GenomicSEM/scripts/old/
*.code-workspace
